<a href="https://colab.research.google.com/github/vineet1947/quick_ref_code/blob/main/cookbook_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
p  = (10 ,20 ,30 ,  50 ,60 )

In [ ]:
x,  y , *z= p 
print(x,  y ,z )

10 20 [30, 50, 60]

In [ ]:
line = 'nobody:*:-2:-2:Unprivileged User:/var/empty:/usr/bin/false'
uname, *fields, homedir, sh = line.split(':')

In [ ]:
line = "Hello  ;this ; is vineet;  kuamr verma  ; 2000 "
a,  *v , b ,c = line.split(';')
print(a,v ,  b , c)

Hello   ['this ', ' is vineet']   kuamr verma    2000

In [ ]:
from collections import deque

In [ ]:
q  = deque(maxlen = 3) 
q.extend([1,2,3,4 ,5 ]) 
q

deque([3, 4, 5])

In [ ]:
import numpy as np

In [ ]:
import heapq #used to get the nth largest or minimum

In [ ]:
num = np.random.randint(-10 , 30 , 10)
num =  list(num)
num

[28, -3, 2, 12, -6, 15, 5, 13, 26, 15]

In [ ]:
heapq.nlargest(3, num) , heapq.nsmallest(2,num )

([28, 26, 15], [-6, -3])

In [ ]:
portfolio = [
{'name': 'IBM', 'shares': 100, 'price': 91.1},
{'name': 'AAPL', 'shares': 50, 'price': 543.22},
{'name': 'FB', 'shares': 200, 'price': 21.09},
{'name': 'HPQ', 'shares': 35, 'price': 31.75},
{'name': 'YHOO', 'shares': 45, 'price': 16.35},
{'name': 'ACME', 'shares': 75, 'price': 115.65}
]

In [ ]:
%time
import pandas as pd 
port = pd.DataFrame(portfolio) 
port[port.price == port.price.min()]

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 8.34 µs

   name  shares  price
4  YHOO      45  16.35

In [ ]:
%time
cheap = heapq.nsmallest(3, portfolio, key=lambda s: s['price'])
expensive = heapq.nlargest(3, portfolio, key=lambda s: s['price'])

CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 7.87 µs

In [ ]:
cheap = heapq.nsmallest(3 , portfolio , key = lambda s :s['price'])
expensive = heapq.nlargest(3 , portfolio , key = lambda s : s['price'])

In [ ]:
cheap  = heapq.nsmallest(3 , portfolio  ,  key  = lambda s  : s['price']) 
expensive = heapq.nlargest(3 , portfolio  ,  key  = lambda s  : s['price'])

In [ ]:
cheap , expensive

([{'name': 'YHOO', 'price': 16.35, 'shares': 45},
  {'name': 'FB', 'price': 21.09, 'shares': 200},
  {'name': 'HPQ', 'price': 31.75, 'shares': 35}],
 [{'name': 'AAPL', 'price': 543.22, 'shares': 50},
  {'name': 'ACME', 'price': 115.65, 'shares': 75},
  {'name': 'IBM', 'price': 91.1, 'shares': 100}])

In [ ]:
nums = [1, 8, 2, 23, 7, -4, 18, 23, 42, 37, 2]

In [ ]:
import heapq
heap  = list(nums)
heapq.heapify(heap)

In [ ]:
heap

[-4, 2, 1, 23, 7, 2, 18, 23, 42, 37, 8]

In [ ]:
for i in range(3) :
  print(heapq.heappop(heap))

-4
1
2

In [ ]:
import heapq
class PriorityQueue:
  def __init__(self):
    self._queue = []
    self._index = 0
  def push(self, item, priority):
    heapq.heappush(self._queue, (-priority, self._index, item))
    self._index += 1
  def pop(self):
    return heapq.heappop(self._queue)[-1]

In [ ]:
class Item:
  def __init__(self, name):
    self.name = name
  def __repr__(self):
    return 'Item({!r})'.format(self.name)

In [ ]:
q = PriorityQueue()
q.push(Item('foo'), 1)
q.push(Item('bar'), 5)
q.push(Item('spam'), 4)
q.push(Item('grok'), 1)
print(q.pop())

Item('bar')

In [ ]:
from collections import defaultdict

In [ ]:
d = defaultdict(list)
d['a'].append(1)
d['a'].append(2)
d['b'].append(3)

In [ ]:
for i in d.items() : 
  print(i)

('a', [1, 2])
('b', [3])

In [ ]:
d = defaultdict(set)
d['a'].add(1)
d['a'].add(2)
d['b'].add(3)

In [ ]:
for i in d.items() : 
  print(i)

('a', {1, 2})
('b', {3})

In [ ]:
from collections import OrderedDict

In [ ]:
d = OrderedDict() 
d['foo'] = 1 
d['bar'] = 3 
d['spam'] = 2
d['grok'] = 4

In [ ]:
for key in d  :
  print(key)

foo
bar
spam
grok

#sorting the dict

In [ ]:
prices = {
'ACME': 45.23,
'AAPL': 612.78,
'IBM': 205.55,
'HPQ': 37.20,
'FB': 10.75
}

In [ ]:
min_price =min(zip(prices.values() , prices.keys() ))
print(min_price)


max_prices  = max(zip(prices.values() ,prices.keys()))
print(max_prices)

(10.75, 'FB')
(612.78, 'AAPL')

In [ ]:
prices_sorted = sorted(zip(prices.values() , prices.keys())) 
prices_sorted

[(10.75, 'FB'),
 (37.2, 'HPQ'),
 (45.23, 'ACME'),
 (205.55, 'IBM'),
 (612.78, 'AAPL')]

In [ ]:
a = {
'x' : 1,
'y' : 2,
'z' : 3
} 

b = {
'w' : 10,
'x' : 11,
'y' : 2
}

In [ ]:
a.keys() & b.keys()

{'x', 'y'}

In [ ]:
a.items() & b.items()

{('y', 2)}

In [ ]:
a.keys() - b.keys()

{'z'}

In [ ]:
a.items()  - b.items()

{('x', 1), ('z', 3)}

In [ ]:
c = {key : a[key] for key  in a.keys() - {'z' , 'w'}} 
c

{'x': 1, 'y': 2}

#remove duplicates preserve the order 
only works for unhashable items

In [ ]:
def deduped(items) :
  seen = set()
  for  item in items :
    if item not in  seen : 
      yield item 
      seen.add(item)

In [ ]:
a = [1, 5, 2, 1, 9, 1, 5, 10] 
for i in deduped(a)  :
  print(i , end = ' ')

1 5 2 9 10

In [ ]:
# works for hashable items as well

In [ ]:
def dedupe(items , key  = None) : 
  seen = set() 
  for  item in items  :
    val = item if key is None else key(item) 
    if val not  in  seen: 
      yield item 
      seen.add(val)

In [ ]:
a = [ {'x':1, 'y':2}, {'x':1, 'y':3}, {'x':1, 'y':2}, {'x':2, 'y':4}]
list(dedupe(a, key=lambda d: (d['x'],d['y'])))

[{'x': 1, 'y': 2}, {'x': 1, 'y': 3}, {'x': 2, 'y': 4}]

In [ ]:
# most frequent items

In [ ]:
words = [
'look', 'into', 'my', 'eyes', 'look', 'into', 'my', 'eyes',
'the', 'eyes', 'the', 'eyes', 'the', 'eyes', 'not', 'around', 'the',
'eyes', "don't", 'look', 'around', 'the', 'eyes', 'look', 'into',
'my', 'eyes', "you're", 'under'
]

In [ ]:
from collections import Counter 
word_count =  Counter(words)

In [ ]:
top_3 = word_count.most_common(3) 
top_3

[('eyes', 8), ('the', 5), ('look', 4)]

In [ ]:
# sorting dic by common naming keys

In [ ]:
rows = [
{'fname': 'Brian', 'lname': 'Jones', 'uid': 1003},
{'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
{'fname': 'John', 'lname': 'Cleese', 'uid': 1001},
{'fname': 'Big', 'lname': 'Jones', 'uid': 1004}
]

In [ ]:
import pandas as pd 
data = pd.DataFrame(rows) 
data

   fname    lname   uid
0  Brian    Jones  1003
1  David  Beazley  1002
2   John   Cleese  1001
3    Big    Jones  1004

In [ ]:
data.sort_values(['fname' , 'uid'])
#page 26

   fname    lname   uid
3    Big    Jones  1004
0  Brian    Jones  1003
1  David  Beazley  1002
2   John   Cleese  1001

In [ ]:
from operator import itemgetter

In [ ]:
rows_by_fname  = sorted(rows , key = itemgetter('fname'))
rows_by_fname

[{'fname': 'Big', 'lname': 'Jones', 'uid': 1004},
 {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003},
 {'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
 {'fname': 'John', 'lname': 'Cleese', 'uid': 1001}]

In [ ]:
rows_by_uid  =sorted(rows , key  = itemgetter('uid'))
rows_by_uid

[{'fname': 'John', 'lname': 'Cleese', 'uid': 1001},
 {'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
 {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003},
 {'fname': 'Big', 'lname': 'Jones', 'uid': 1004}]

In [ ]:
# how to sort objects using attrgetter  , which is improted from operator

In [ ]:
class User : 
  def __init__(self , user_id) :
    self.user_id = user_id 

  def __repr__(self) : 
    return 'User({})'.format(self.user_id)

In [ ]:
from operator import attrgetter

In [ ]:
users = [User(23), User(3), User(99)] 
sorted(users , key = attrgetter("user_id"))     #sorted(users , key = lambda x :x.user_id)

[User(3), User(23), User(99)]

In [ ]:
rows = [
{'address': '5412 N CLARK', 'date': '07/01/2012'},
{'address': '5148 N CLARK', 'date': '07/04/2012'},
{'address': '5800 E 58TH', 'date': '07/02/2012'},
{'address': '2122 N CLARK', 'date': '07/03/2012'},
{'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'},
{'address': '1060 W ADDISON', 'date': '07/02/2012'},
{'address': '4801 N BROADWAY', 'date': '07/01/2012'},
{'address': '1039 W GRANVILLE', 'date': '07/04/2012'},
]

In [ ]:
from operator import itemgetter 
from itertools import groupby

In [ ]:
rows.sort(key = itemgetter('date'))

In [ ]:
for date, items in groupby(rows , key = itemgetter('date'))   :
  print(date) 
  for i in items : 
    print('   '  ,i)

07/01/2012
    {'address': '5412 N CLARK', 'date': '07/01/2012'}
    {'address': '4801 N BROADWAY', 'date': '07/01/2012'}
07/02/2012
    {'address': '5800 E 58TH', 'date': '07/02/2012'}
    {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'}
    {'address': '1060 W ADDISON', 'date': '07/02/2012'}
07/03/2012
    {'address': '2122 N CLARK', 'date': '07/03/2012'}
07/04/2012
    {'address': '5148 N CLARK', 'date': '07/04/2012'}
    {'address': '1039 W GRANVILLE', 'date': '07/04/2012'}

In [ ]:
mylist = [1, 4, -5, 10, -7, 2, 3, -1] 

pos_list = [ i for  i in mylist if  i >  0 ]
neg_list = [ i for  i in mylist if  i <= 0]
pos_list , neg_list

([1, 4, 10, 2, 3], [-5, -7, -1])

In [ ]:
values = ['1', '2', '-3', '-', '4', 'N/A', '5'] 

def is_int(val) : 
  try : 
    x = int(val) 
    return True 
  except ValueError :
    return False

In [ ]:
ivals  = list(filter(is_int , values))
print(ivals)

['1', '2', '-3', '4', '5']

In [ ]:
pos = ( i for  i in mylist if  i >  0 )
list(pos)

[1, 4, 10, 2, 3]